@import "/src/theme/import";

.video-container {
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  .video-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}
