.product--nav {
    flex-direction: column;
    align-items: flex-start;
    
    a{
        display: inline-block !important;
        font-size: 1.2rem;
        padding: 0px;
        margin-bottom: 0.5rem;
    }
}