<section class="section bg-light">
  <div class="container bring-to-front">
    <div class="row gap-y align-items-center">
      <div class="col-md-6">
        <div class="rounded shadow">
          <div class="d-flex flex-column align-items-center py-3">
            <picture>
              <source srcset="{{this.product.productExtras.imgs[0].path }}.webp" type="image/webp">
              <source srcset="{{this.product.productExtras.imgs[0].path }}.jpg" type="image/jpeg">
              <img src="{{ this.product.productExtras.imgs[0].path }}.jpg"
                alt="{{ this.product.productExtras.imgs[0].alt }}" title="{{ this.product.productExtras.productName }}"
                style="width:100%;" />
            </picture>
          </div>
        </div>


        <div class="rounded shadow-box bg-contrast mt-3">
          <div class="media align-items-center px-3">
            <dc-feather [name]="'smartphone'" [iconClass]="'stroke-danger'" [class]="'mr-3'"></dc-feather>
            <div class="media-body my-3 pl-3 b-l">
              <h3 class="bold my-0">
               Preporučena specifikacija 
              </h3>
              <p class="my-0 text-secondary">
                Izaberite kombinaciju koja najbolje odgovara vašem proizvodu.
              </p>

              <hr class="my-3" />
              <nav id="sw-nav-1" class="nav nav-tabs tabs-clean border-bottom-0 product--nav">
                <a class="nav-item nav-link py-0 d-flex flex-column align-items-center border-bottom-0"
                  href="javascript:void(0)" [class.active]="i === currentSlide" [class.pl-md-0]="i === 0"
                  [attr.data-step]="i + 1" (click)="updateSlider(i)" *ngFor="let element of elements; let i = index">
                  <dc-feather [name]="element.icon" [size]="24" class="mr-2"></dc-feather>
                  {{element.title}}
                </a>
              </nav>

            </div>
          </div>
        </div>

        <div class="rounded shadow-box bg-contrast mt-3">
          <div class="media align-items-center px-3">
            <dc-feather [name]="'bar-chart'" [iconClass]="'stroke-primary'" [class]="'mr-3'"></dc-feather>
            <div class="media-body my-3 pl-3 b-l">
              <p class="bold text-primary my-0">Admin template included</p>
              <p class="my-0 text-secondary">
                We've included a fully functional starter admin dashboard
              </p>
            </div>
          </div>
        </div>


      </div>

      <div class="col-md-6 ml-md-auto text-center text-md-left">
        <span class="rounded-pill shadow-box badge badge-info bold py-2 px-4"> Pakujte kvalitetno ali sa stilom</span>

        <h2 class="mt-3">Atraktivna ambalaže, visoke rezolucije i premijum kvaliteta</h2>
        <p class="text-secondary">
          Dashcore includes an outstanding starter Admin Dashboard UI Interface.
          With this feature you can start developing right away your web
          application.
        </p>

        <hr />
        <swiper [index]="currentSlide" (indexChange)="onIndexChange($event)">
          <div class="swiper-slide" *ngFor="let element of elements; let i = index;">
            <figure class="shadow-box">
              <picture>
                <source srcset="{{this.product.productExtras.imgs[0].path }}.webp" type="image/webp">
                <source srcset="{{this.product.productExtras.imgs[0].path }}.jpg" type="image/jpeg">
                <img src="{{ this.product.productExtras.imgs[0].path }}.jpg"
                  alt="{{ this.product.productExtras.imgs[0].alt }}"
                  title="{{ this.product.productExtras.productName }}" style="width:100%;" />
              </picture>
            </figure>
            <!-- <p class="small text-center text-danger">Clean inbox UI design</p> -->

            <div class="d-flex align-items-center">
              <div class="icon-md bg-primary p-2 rounded-circle center-flex mr-3"><svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-check stroke-contrast">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg></div>
              <p class="text-danger">
                Service integrations
              </p>
            </div>

            <div class="d-flex align-items-center">
              <div class="icon-md bg-primary p-2 rounded-circle center-flex mr-3"><svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-check stroke-contrast">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg></div>
              <p class="text-primary">Service integrations</p>
            </div>

          </div>
        </swiper>
      </div>




    </div>
  </div>

</section>