<div class="container">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" (click)="goBack($event)">{{
            previusLink().label | uppercase
          }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ currentLink().label | uppercase }}
        </li>
      </ol>
    </nav>
  </div>
</div>
