<!-- ./Tools for everyone - Swiper -->
<section class="section">
  <div class="container">
    <!-- <div class="section-heading text-center">
      <dc-feather [name]="'sliders'" [iconClass]="'stroke-primary'"></dc-feather>
      <h2>Tools for everyone</h2>
      <p class="lead text-secondary">
        Get ready in no time... just like 1, 2 & 3.
      </p>
    </div> -->

    <div class="row align-items-end">
      <div class="col-lg-12">
        <h2 class="bold text-right mup8">
          {{"TEHNIČKE KARAKTERISTIKE.slider-start-right-way-component01" | translate}}<br /><span
            class="light">{{"TEHNIČKE KARAKTERISTIKE.slider-start-right-way-component02" | translate}}</span>
        </h2>
        <p class="lead text-secondary"></p>

        <!-- <a href="pricing.html" class="btn btn-primary btn-rounded mt-4">Choose the right plan
          <fa-icon [icon]="longArrowAltRight" [class]="'ml-3'"></fa-icon>
        </a> -->

        <ol id="sw-nav-tools" class="nav nav-process nav-circle nav-justified" *ngIf="this.keys().length > 1">
          <li class="nav-item" [class.active]="i === currentSlide" *ngFor="let key of this.keys(); let i = index">
            <a class="nav-link" href="javascript:void(0)" [attr.data-step]="i + 1" (click)="updateSlider(i, key)">
              <small class="mt-4 absolute">{{ this.data()[key].opis }}</small>
            </a>
          </li>
        </ol>
      </div>

      <div class="col-lg-12 ml-lg-auto" style="background:white;">
        <div class="shadow mt-4 mt-md-0" data-aos="fade-left">
          <swiper [index]="currentSlide" (indexChange)="onIndexChange($event)" [config]="SWIPER_CONFIG">
            <div class="swiper-slide" *ngFor="let key of this.keys()" style="min-width:100%!important">
              <div class="row mt-5 mb-5 ml-0 mr-0" *ngFor="
                  let masina of this.data()[this.keys()[currentSlide]].oprema
                ">
                <div class="col-lg-6 ">

                  <picture>
                    <source srcset="assets/img/papirprint/{{ path | async }}/machines/{{
                      masina.slikaMasine
                    }}.webp" type="image/webp">
                    <source srcset="assets/img/papirprint/{{ path | async }}/machines/{{
                      masina.slikaMasine
                    }}.jpg" type="image/jpeg">
                    <img src="assets/img/papirprint/{{ path | async }}/machines/{{
                    masina.slikaMasine
                  }}.jpg" alt="" class="img-responsive" />
                  </picture>

                </div>
                <div class="col-lg-6">
                  <ul class="list-group center-align">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                      *ngFor="let item of masina.spec">
                      {{ item }}
                      <span class="badge badge-primary badge-pill"> </span>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- <div class="row mt-5 mb-5">
                <div class="col-lg-7 ">
                  <img src="assets/img/screens/dash/{{ i }}.png" alt="" class="img-responsive" />
                </div>
                <div class="col-lg-5">Milos test</div>
              </div> -->
            </div>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</section>