<section class="section bg-light bg-light-gradient edge bottom-right">
  <div class="container bring-to-front">
    <div class="section-heading text-center">
      <p class="rounded-pill py-2 px-4 bold badge badge-info ">
        {{ 'PROIZVODNI-PROGRAM.corporate-do-business01' | translate }}
      </p>
      <h2>{{ 'PROIZVODNI-PROGRAM.corporate-do-business02' | translate }}</h2>
    </div>

    <div class="row gap-y">
      <div class="col-md-6" *ngFor="let cat of this.categories()" style="cursor : pointer;">
        <a [routerLink]="cat.link" (click)="onCategryClicked(cat.link)">
          <div
            class="rounded bg-contrast shadow-box image-background p-4 pl-6 pl-md-9 off-left-background off-left-correction"
            [style.background-image]="
              'url(' + cat.data.categoryImgs[0].path + '.jpg)'
            "
          >
            <h5>{{ cat.data.categoryName }}</h5>
            <p class="text-secondary mb-0">
              {{ cat.data.categoryTexts[0] | slice: 0:120 }}...
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
