<!-- ./Contact Us -->
<section class="section mt-7n">
  <div class="container bring-to-front pt-0">
    <div class="row align-items-center gap-y">
      <div class="col-md-6">
        <div class="shadow bg-contrast p-4 rounded">
          <dc-form-contact></dc-form-contact>
        </div>
      </div>

      <div class="col-md-5 ml-md-auto">
        <div class="section-heading">
          <dc-badge [bg]="'info'" [text]="'contrast'" [small]
            >PAPIR PRINT</dc-badge
          >
          <h2>{{ 'CONTACT.contact-form01' | translate }}</h2>
        </div>
        <div>
          <h2>{{ 'CONTACT.contact-form02' | translate }}</h2>
        </div>
        <div>
          <div class="media">
            <fa-icon
              [icon]="fa.mapMarker"
              [class]="'font-l text-primary mr-3'"
            ></fa-icon>
            <div class="media-body">
              Miodraga Radovanovića Korčagina 65,
              <span class="d-block">32300 G. Milanovac,</span>
              <span class="d-block">Srbija</span>
            </div>
          </div>

          <div class="media my-4">
            <fa-icon
              [icon]="fa.phone"
              [class]="'font-l text-primary mr-3'"
            ></fa-icon>
            <div class="media-body">
              <span class="d-block"
                ><a href="tel:+38132711343">+381 32 711 343</a></span
              >
              <!-- <span class="d-block"
              ><a href="tel:+1-987-654-3201">(987) 654-3201</a></span
            > -->
            </div>
          </div>

          <!-- <div class="media">
            <fa-icon [icon]="fa.envelope" [class]="'font-l text-primary mr-3'"></fa-icon>
            <div class="media-body">
              <a href="mailto:office@papirprint.rs">office@papirprint.rs</a>
            </div>
          </div> -->
        </div>
        <br />
        <div>
          <h2>{{ 'CONTACT.contact-form03' | translate }}</h2>
        </div>
        <div>
          <div class="media">
            <fa-icon
              [icon]="fa.mapMarker"
              [class]="'font-l text-primary mr-3'"
            ></fa-icon>
            <div class="media-body">
              Vojvode Bogdana 25,
              <span class="d-block">11000 Beograd,</span>
              <span class="d-block">Srbija</span>
            </div>
          </div>

          <div class="media my-4">
            <fa-icon
              [icon]="fa.phone"
              [class]="'font-l text-primary mr-3'"
            ></fa-icon>
            <div class="media-body">
              <span class="d-block"
                ><a href="tel:+1381112435141">+381 11 243-51-41</a></span
              >
              <!-- <span class="d-block"
              ><a href="tel:+1-987-654-3201">(987) 654-3201</a></span
            > -->
            </div>
          </div>

          <!-- <div class="media">
            <fa-icon [icon]="fa.envelope" [class]="'font-l text-primary mr-3'"></fa-icon>
            <div class="media-body">
              <a href="mailto:office@papirprint.rs">office@papirprint.rs</a>
            </div>
          </div> -->
        </div>

        <hr class="my-4" />

        <!-- <nav class="nav justify-content-center justify-content-md-start">
          <a href="#" class="btn btn-circle btn-sm brand-facebook mr-3">
            <fa-icon [icon]="fa.linkedin"></fa-icon>
          </a>
          <a href="#" class="btn btn-circle btn-sm brand-twitter mr-3">
            <fa-icon [icon]="fa.youtube"></fa-icon>
          </a>
          <a href="#" class="btn btn-circle btn-sm brand-instagram">
            <fa-icon [icon]="fa.linciden"></fa-icon>
          </a> 
        </nav> -->
      </div>
    </div>
  </div>
</section>
