<section class="section app-safety">
  <div class="shapes-container">
    <div class="shape shape-circle">
      <div data-aos="fade-up-left"></div>
    </div>
    <div class="shape shape-ring shape-ring-2">
      <div data-aos="fade-up-right" data-aos-delay="200"></div>
    </div>
    <div class="shape pattern pattern-dots"></div>
  </div>

  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-5">
        <div class="row gap-y align-items-center text-center">
          <div
            class="col-md-4 {{ card.class }}"
            *ngFor="let card of cards; let i = index"
          >
            <div class="figure shadow rounded overflow-hidden border">

              <picture>
                <source [srcset]="'assets/img/papirprint/'+(this.path | async)+'/kompanija/'+i+'.webp'" type="image/webp">
                <source [srcset]="'assets/img/papirprint/'+(this.path | async)+'/kompanija/'+i+'.jpg'" type="image/jpeg">
                  <img
                  class="img-responsive"
                  [src]="'assets/img/papirprint/'+(this.path | async)+'/kompanija/'+i+'.jpg'"
                  alt=""
                />
              </picture>

       
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="section-heading">
          <p class="text-primary bold">
            {{ 'POCETNA.pocetna-landing2-safety-1' | translate }}
          </p>
          <h2>{{ 'POCETNA.pocetna-landing2-safety-2' | translate }}</h2>
          <p class="lead">
            {{ 'POCETNA.pocetna-landing2-safety-3' | translate }}
          </p>
        </div>

        <div class="media pb-3" *ngFor="let item of items | async">
          <div
            class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3"
          >
            <dc-feather
              [name]="item.icon"
              [iconClass]="'stroke-primary'"
            ></dc-feather>
          </div>
          <div class="media-body">
            <h5>{{ item.title }}</h5>
            <p>{{ item.description }}</p>
          </div>
        </div>
        <p class="small text-secondary">
          {{ 'POCETNA.pocetna-landing2-safety-4' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
