<dc-navbar-default
  [useOnlyDarkLogo]="isDark$ | async"
  [position]="'right'"
></dc-navbar-default>
<main class="position-relative overflow-hidden">
  <router-outlet></router-outlet>
</main>
<dc-footer1></dc-footer1>
<app-googleanalytcs *ngIf="isConsent | async"></app-googleanalytcs>
