<section class="section lightweight-template">
  <div class="container">
    <div class="row align-items-center text-center text-lg-left">
      <div class="col-md-8 col-lg-6 mr-auto">
        <h2>Upoznajte nas sa svojim KVALITETIMA.</h2>
        <p class="lead text-secondary">
          Čak i kada nemamo otvorenih pozicija, vaša prijava ostaje trajno memorisana u našem sistemu
          pa vas možemo kontaktirati čim se pojavi adekvatno radno mesto.
        </p>
        <!-- <p>
          Čak i kada nemamo otvorenih pozicija, vaša prijava ostaje trajno memorisana u našem sistemu
          pa vas možemo kontaktirati čim se pojavai adekvatno radno mesto.
        </p> -->
        <!-- <a [routerLink]="['/about']" class="btn btn-info btn-rounded mt-4 learn-more">Learn More</a> -->
      </div>
    </div>
  </div>
</section>