<main class="position-relative overflow-hidden">
  <dc-pocetna-landing2-heading></dc-pocetna-landing2-heading>
  <dc-slider-icons></dc-slider-icons>
  <dc-slider-all-in-one></dc-slider-all-in-one>
  <dc-pocetna-landing2-features></dc-pocetna-landing2-features>
  <dc-pocetna-landing2-trending-design></dc-pocetna-landing2-trending-design>
  <dc-pocetna-landing2-safety></dc-pocetna-landing2-safety>

</main>
