<dc-navbar-shell
  [darkLinks]="darkLinks"
  [useOnlyDarkLogo]="darkLinks ? true : useOnlyDarkLogo"
  *ngIf="path | async as lng"
>
  <dc-navbarsr
    [class.ml-auto]="isRightPositioned()"
    *ngIf="lng === 'sr'"
  ></dc-navbarsr>
  <dc-navbaren
    [class.ml-auto]="isRightPositioned()"
    *ngIf="lng === 'en'"
  ></dc-navbaren>
</dc-navbar-shell>
<dc-lngdd></dc-lngdd>
