<dc-page-header-wave [title]="($posao|async).headerText[0]" [subtitle]="($posao|async).headerText[1]">
</dc-page-header-wave>
<dc-saas-perspective-mockups></dc-saas-perspective-mockups>
<dc-slider-start-right-way></dc-slider-start-right-way>
<!-- <dc-saas-lightweight-template></dc-saas-lightweight-template> -->
<dc-corporate-do-business></dc-corporate-do-business>
