.green-container {
    position: absolute;
    top     : 10rem;
    right   : -1.5rem;
    height  : 24rem;
    width   : 10rem;
    z-index : 1029;

    .green-content {
        position: relative;
        display : flex;
        height  : 100%;
        width   : 100%;

        img {
            height: 5rem;
        }

        .green-list {
            justify-self: center;
            align-self  : center;

            ul {
                list-style: none;
                width     : 100%;

                .green-list-item {
                    opacity                   : 0;
                    display                   : flex;
                    flex-wrap                 : wrap;
                    justify-content           : center;
                    align-items               : center;
                    width                     : 20rem;
                    padding                   : 5px;
                    border                    : 2px solid white;
                    border-radius             : 20px;
                    background                : linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(71, 200, 26, 1) 9%, rgba(255, 255, 255, 1) 17%);
                    position                  : absolute;
                    right                     : 0rem;
                    text-align                : center;
                    transition                : opacity, right;
                    transition-duration       : 1s;
                    transition-timing-function: ease-out;

                    h6,
                    p {
                        color: transparent;
                    }

                    p {
                        font-size: 1em;
                        margin   : 0px;

                    }

                    &_0 {
                        z-index   : 0;
                        border    : none;
                        background: none;
                    }

                    &_1 {
                        top: 10rem;
                    }

                    &_2 {
                        top: 10rem;
                    }

                    &_3 {
                        top: 10rem;
                    }
                }
            }

        }
    }

    // &:hover {
    //     // width : 20rem;
    //     // right : 5rem;
    //     cursor: pointer;


    //     .green-content {
    //         ul {

    //             .green-list-item {
    //                 // right                    : 20rem !important;
    //                 right: 1.44rem !important;

    //                 opacity: 100 !important;

    //                 h6,
    //                 p {
    //                     color: green !important;
    //                 }

    //                 &_0 {
    //                     top   : -2rem !important;
    //                     height: 100%;
    //                 }

    //                 &_1 {
    //                     // top: -2rem !important;
    //                     top: 5rem !important;
    //                 }

    //                 &_2 {
    //                     // top: 9rem !important;
    //                     top: 19rem !important;
    //                 }

    //                 &_3 {
    //                     top: 30rem !important;

    //                 }
    //             }
    //         }
    //     }
    // }



    .green-img {
        animation: spin 8s linear infinite;
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform        : rotate(360deg);
        }
    }

}





@media (hover: hover) {
    .green-container {
        transition                : width, right;
        transition-duration       : 1s;
        transition-timing-function: ease-out;

        .green-touch {
            display: none;
        }

        &:hover {
            // width : 20rem;
            // right : 5rem;
            cursor: pointer;


            .green-content {
                ul {

                    .green-list-item {
                        // right                    : 20rem !important;
                        right  : 1.44rem !important;
                        opacity: 100 !important;


                        h6,
                        p {
                            color: green !important;
                        }

                        &_0 {
                            top   : -2rem !important;
                            height: 100%;
                        }

                        &_1 {
                            // top: -2rem !important;
                            top: 5rem !important;
                        }

                        &_2 {
                            // top: 9rem !important;
                            top: 19rem !important;
                        }

                        &_3 {
                            top: 30rem !important;

                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width:321px) {
        .green-container {
            top  : 8rem;
            right: -2rem !important;

            &:hover {
                .green-content {
                    ul {

                        .green-list-item {
                            right: 4.4rem !important;
                        }
                    }
                }
            }

        }
    }

    @media only screen and (min-width:768px) {
        .green-container {
            top  : 8rem;
            right: 1rem !important;

            img {
                height: 10rem !important;
            }

            &:hover {
                .green-content {
                    ul {
                        .green-list-item {

                            right: 8.4rem !important;
                            width: 30rem !important;

                            p {
                                font-size: 1.2em !important;
                            }

                            &_0 {
                                top   : 0rem !important;
                                height: 100%;
                            }

                            &_1 {
                                top: 0rem !important;
                            }

                            &_2 {
                                top: 13rem !important;
                            }

                            &_3 {
                                top: 24rem !important;

                            }
                        }
                    }
                }
            }
        }
    }


    @media only screen and (min-width:1441px) {
        .green-container {
            right: 5rem !important;

            .green-content {
                align-items: center
            }

            img {
                height: 15rem !important;
            }

            &:hover {
                right: 10rem !important;

                .green-content {
                    ul {

                        .green-list-item {
                            right: 8rem !important;

                            &_0 {
                                top   : 0rem !important;
                                height: 100%;
                            }

                            &_1 {
                                top: 0rem !important;
                            }

                            &_2 {
                                top: 13rem !important;
                            }

                            &_3 {
                                top: 24rem !important;

                            }
                        }
                    }
                }
            }
        }
    }
}

@media (hover: none) {
    //     .green-container {
    //         transition                : width, right;
    //         transition-duration       : 1s;
    //         transition-timing-function: ease-out;
    //         .green-content {
    //                 ul {

    //                     .green-list-item {
    //                         // right                    : 20rem !important;
    //                         right  : 1.44rem !important;
    //                         opacity: 100 !important;


    //                         h6,
    //                         p {
    //                             color: green !important;
    //                         }

    //                         &_0 {
    //                             top   : -2rem !important;
    //                             height: 100%;
    //                         }

    //                         &_1 {
    //                             // top: -2rem !important;
    //                             top: 5rem !important;
    //                         }

    //                         &_2 {
    //                             // top: 9rem !important;
    //                             top: 19rem !important;
    //                         }

    //                         &_3 {
    //                             top: 30rem !important;

    //                         }
    //                     }
    //                 }
    //             }
    //         }


    //     @media only screen and (min-width:321px) {
    //         .green-container {
    //             top  : 8rem;
    //             right: -2rem !important;
    //             .green-content {
    //                 ul {
    //                     .green-list-item {
    //                         opacity                   : 100!important;
    //                         right: 4.4rem !important;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     @media only screen and (min-width:768px) {
    //         .green-container {
    //             top  : 8rem;
    //             right: 1rem !important;

    //             img {
    //                 height: 10rem !important;
    //             }

    //             &:hover {
    //                 .green-content {
    //                     ul {
    //                         .green-list-item {

    //                             right: 8.4rem !important;
    //                             width: 30rem !important;

    //                             p {
    //                                 font-size: 1.2em !important;
    //                             }

    //                             &_0 {
    //                                 top   : 0rem !important;
    //                                 height: 100%;
    //                             }

    //                             &_1 {
    //                                 top: 0rem !important;
    //                             }

    //                             &_2 {
    //                                 top: 13rem !important;
    //                             }

    //                             &_3 {
    //                                 top: 24rem !important;

    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     @media only screen and (min-width:1441px) {
    //         .green-container {
    //             right: 7rem !important;

    //             img {
    //                 height: initial !important;
    //             }

    //             &:hover {
    //                 right: 14rem !important;

    //                 .green-content {
    //                     ul {

    //                         .green-list-item {
    //                             right: 8rem !important;

    //                             &_0 {
    //                                 top   : 0rem !important;
    //                                 height: 100%;
    //                             }

    //                             &_1 {
    //                                 top: 0rem !important;
    //                             }

    //                             &_2 {
    //                                 top: 13rem !important;
    //                             }

    //                             &_3 {
    //                                 top: 24rem !important;

    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }


}