
<aside class="green-container">
    <article class="green-content">
         <figure class="green-list">
            <ul>
                <li class="green-list-item green-list-item_0"></li>
                <li class="green-list-item green-list-item_1 shadow-lg">
                    <h6 class="lead bold text-primary text-white-shadow">
                        <fa-icon [icon]="faSeedling" class="text-primary mr-2"></fa-icon>
                        BIORAZGRADIVI MATERIJALI
                    </h6>
                    <p>
                        Korišćenjem savremenih <a href="#"><strong>biorazgradivih materijala</strong></a>, 
                        zajedno sa vama, menjamo industriju fleksibilne ambalaže,
                        pratimo globlane trendove i promovišemo vrednosti očuvanja životne sredine.
                    </p>
                </li>

                <li class="green-list-item green-list-item_2 shadow-lg">
                    <h6 class="lead bold text-primary text-white-shadow">
                        <fa-icon [icon]="faRecycle" class="text-primary mr-2"></fa-icon>
                        RECIKLAŽA SIROVINA
                        </h6>
                    <p>
                        Implementacijom <a href="#"><strong>savremenih sistema za reciklažu i preradu</strong></a>
                        tehnološkog otpada ulažemo u sisteme održive i odgovorne proizvodnje. 
                    </p>
                </li>
                <li class="green-list-item green-list-item_3 shadow-lg">
                    <h6 class="lead bold text-primary text-white-shadow">
                        <fa-icon [icon]="faSolar" class="text-primary mr-2"></fa-icon>
                        ZELENA ENERGIJA
                    </h6>
                    <p>
                        Korišćenjem solarne elektrane kao i autonomnog sistema rekuperacije emitovane 
                        energije smanjujemo emisiju štatnih gasova i 
                        proizvodimo <a href="#"><strong>zelenu energiju</strong></a>  
                    </p>
                </li>
            </ul>
        </figure>
        <img src="assets/img/green.png" alt="" class="green-img" 
        (click)="onMobileOpen($event)"
        (mouseover)="onGreenHover($event)"
        (mouseenter)="onGreenHover($event)"
        >
    </article>

</aside>
