<section class="section">
  <!-- <div class="shape-wrapper">
    <div class="shape shape-background shape-right"></div>
    <div class="shape shape-background top shape-left op-1"></div>
  </div> -->

  <div class="container pb-5">
    <div
      class="row gap-y align-items-center py-5"
      *ngFor="let step of products | keyvalue; let i = index"
    >
      <div class="col-md-6" [class.order-md-2]="(i + 1) % 2 === 0">
        <figure [attr.data-aos]="(i + 1) % 2 == 0 ? 'fade-left' : 'fade-right'">

          
        <picture>
          <source srcset="{{ products[step.key].productImgs.path }}.webp" type="image/webp">
          <source srcset="{{ products[step.key].productImgs.path }}.jpg" type="image/jpeg">
          <img
            src="{{ products[step.key].productImgs.path }}.jpg"
            alt="{{ products[step.key].productImgs.alt }}"
            title="{{ products[step.key].productName }}"
            style="width:100%;"
          />
        </picture>


  
        </figure>
      </div>

      <div class="col-md-6">
        <h2>{{ 'PROIZVODNI-PROGRAM.online-payment-steps01' | translate }}</h2>
        <h2 class="bold text-capitalize text-primary">
          {{ products[step.key].productName }}
        </h2>
        <br />
        <p class="regular">
          {{ products[step.key].productTexts[0] }}
        </p>
        <p class="rlead" *ngIf="products[step.key].productTexts[1]">
          {{ products[step.key].productTexts[1] }}
        </p>

        <p class="regular" *ngIf="products[step.key].productTexts[2]">
          {{ products[step.key].productTexts[2] }}
        </p>
        <a
          href="javascript:;"
          class="btn btn-primary btn-rounded mt-4"
          [routerLink]="[this.category(), step.key]"
          >{{ 'PROIZVODNI-PROGRAM.online-payment-steps02' | translate }}</a
        >
      </div>
    </div>
  </div>
</section>
