@import "/src/theme/import";

.container {
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      > .cards-wrapper {
        width: $container-max-width - 30;
      }
    }
  }

  &.lift-up {
    @include media-breakpoint-up(lg) {
      padding-bottom: 16rem;

      > .cards-wrapper {
        position: absolute;
        transform: translateY(-50%);
      }
    }
  }
}

.logo {
  min-height: 48px;
}
