<div *ngIf="profilKompanije | async as pfc">
  <dc-page-header-wave [title]="pfc[0].title" [subtitle]="pfc[0].description">
  </dc-page-header-wave>

  <dc-big-screen [screenPos]="'right'" *ngIf="pfc[1]">
    <div class="section-heading" class="pt-0 pb-0">
      <span class="bold py-2">
        <dc-feather
          [name]="'activity'"
          [iconClass]="'stroke-primary mr-2'"
        ></dc-feather>
        <span class="bold text-info">{{ 'ONAMA.onama01' | translate }}</span>
      </span>

      <h2 class="mt-3">{{ pfc[1]?.title }}</h2>
    </div>

    <p>
      {{ (pfc[1]?.texts)[0] }}
    </p>
    <p class="lead">
      {{ (pfc[1]?.texts)[1] }}
    </p>
    <p>
      {{ (pfc[1]?.texts)[2] }}
    </p>
    <div class="device-twin align-items-center mt-4 mt-lg-0" images>
      <div class="browser shadow" data-aos="fade-right">

        <picture>
          <source srcset="{{ pfc[1].img.path }}.webp" type="image/webp">
          <source srcset="{{ pfc[1].img.path }}.jpg" type="image/jpeg">
            <img src="{{ pfc[1].img.path }}.jpg" alt="{{pfc[1]?.title}}" />
        </picture>

       
      </div>
    </div>
  </dc-big-screen>

  <dc-big-screen [screenPos]="'left'" *ngIf="pfc[1]">
    <div class="section-heading" class="pt-0 pb-0">
      <span class="bold py-2">
        <dc-feather
          [name]="'activity'"
          [iconClass]="'stroke-primary mr-2'"
        ></dc-feather>
        <span class="bold text-info">{{ 'ONAMA.onama01' | translate }}</span>
      </span>

      <h2 class="mt-3">{{ pfc[2].title }}</h2>
    </div>

    <p>
      {{ pfc[2].texts[0] }}
    </p>

    <p>
      {{ pfc[2].texts[1] }}
    </p>

    <div class="device-twin align-items-center mt-4 mt-lg-0" images>
      <div class="browser shadow" data-aos="fade-right">

        
        <picture>
          <source srcset="{{ pfc[2].img.path }}.webp" type="image/webp">
          <source srcset="{{ pfc[2].img.path }}.jpg" type="image/jpeg">
            <img src="{{ pfc[2].img.path }}.jpg" alt="{{ pfc[2].title }}" />
        </picture>

        
      </div>
    </div>
  </dc-big-screen>

  <dc-big-screen [screenPos]="'right'" *ngIf="pfc[3]">
    <div class="section-heading" class="pt-0 pb-0">
      <span class="bold py-2">
        <dc-feather
          [name]="'activity'"
          [iconClass]="'stroke-primary mr-2'"
        ></dc-feather>
        <span class="bold text-info">{{ 'ONAMA.onama01' | translate }}</span>
      </span>

      <h2 class="mt-3">{{ pfc[3].title }}</h2>
    </div>

    <p>
      {{ pfc[3].texts[0] }}
    </p>
    <p class="lead">
      {{ pfc[3].texts[1] }}
    </p>
    <p>
      {{ pfc[3].texts[2] }}
    </p>
    <p>
      {{ pfc[3].texts[3] }}
    </p>
    <p>
      {{ pfc[3].texts[4] }}
    </p>
    <p class="lead">
      {{ pfc[3].texts[5] }}
    </p>
    <div class="device-twin align-items-center mt-4 mt-lg-0" images>
      <div class="browser shadow" data-aos="fade-right">

        <picture>
          <source srcset="{{ pfc[3].img.path }}.webp" type="image/webp">
          <source srcset="{{ pfc[3].img.path }}.jpg" type="image/jpeg">
            <img src="{{ pfc[3].img.path }}.jpg" alt="{{ pfc[3].title }}" />
        </picture>

      </div>
    </div>
  </dc-big-screen>

  <dc-big-screen [screenPos]="'left'" *ngIf="pfc[4]">
    <div class="section-heading" class="pt-0 pb-0">
      <span class="bold py-2">
        <dc-feather
          [name]="'activity'"
          [iconClass]="'stroke-primary mr-2'"
        ></dc-feather>
        <span class="bold text-info">{{ 'ONAMA.onama01' | translate }}</span>
      </span>

      <h2 class="mt-3">{{ pfc[4].title }}</h2>
    </div>

    <p>
      {{ pfc[4].texts[0] }}
    </p>

    <p class="lead">
      {{ pfc[4].texts[1] }}
    </p>
    <div class="device-twin align-items-center mt-4 mt-lg-0" images>
      <div class="browser shadow" data-aos="fade-right">

        
        <picture>
          <source srcset="{{ pfc[4].img.path }}.webp" type="image/webp">
          <source srcset="{{ pfc[4].img.path }}.jpg" type="image/jpeg">
            <img src="{{ pfc[4].img.path }}.jpg" alt="{{ pfc[4].title }}" />
        </picture>

      
      </div>
    </div>
  </dc-big-screen>
</div>
<dc-corporate-do-business></dc-corporate-do-business>
<dc-slider-icons></dc-slider-icons>
