<section class="section trending-design">
  <div class="shapes-container">
    <div class="shape shape-square" data-aos="flip-right"></div>
    <div class="shape shape-ring shape-ring-2"></div>
  </div>

  <div class="container bring-to-front border-bottom">
    <div class="row gap-y align-items-center">
      <!-- <div class="col-md-6 order-md-2">
          <div class="iphone-x shadow-lg mr-md-0">
            <div class="screen shadow-box">
              <img src="assets/img/papirprint/ambalaza/cocacola.png" alt="..." />
            </div>
            <div class="notch"></div>
          </div>
        </div> -->

      <div class="col-md-6 order-md-2">
        <div class="imageblock shadow-lg mr-md-0">
          <picture>
            <source srcset="assets/img/papirprint/{{ path | async }}/ambalaza/cocacola.webp" type="image/webp">
            <source srcset="assets/img/papirprint/{{ path | async }}/ambalaza/cocacola.png" type="image/jpeg">
              <img
              src="assets/img/papirprint/{{ path | async }}/ambalaza/cocacola.png"
              alt="..."
              style="width:100%; height:100%; margin:auto;"
            />
          </picture>
     
          <div class="notch"></div>
        </div>
      </div>

      <div class="col-md-6 text-center text-md-left">
        <div class="section-heading">
          <h4 class="light font-md display-md-4 heading-line">
            {{ 'POCETNA.pocetna-landing2-trending-design-1' | translate }}<br />
          </h4>
          <p class="lead ">
            {{ 'POCETNA.pocetna-landing2-trending-design-2' | translate }}
          </p>
        </div>
        <p class="small text-secondary">
          {{ 'POCETNA.pocetna-landing2-trending-design-3' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
