<!-- ./Tools for everyone - Swiper -->
<section class="section b-b b-t bg-light" style="z-index: 1000;">
  <form class="form form-contact" name="jobForm" data-response-message-animation="slide-in-up" [formGroup]="jobForm"
    (ngSubmit)="onJobFormSubmit(jobFormGroup)" method="POST" enctype="multipart/form-data" #jobFormGroup>
    <div class="container">
      <!-- <div class="section-heading text-center">
      <dc-feather [name]="'sliders'" [iconClass]="'stroke-primary'"></dc-feather>
      <h2>Tools for everyone</h2>
      <p class="lead text-secondary">Get ready in no time... just like 1, 2 & 3.</p>
    </div> -->
      <div class="row align-items-end" *ngIf="!(cs|async) || isSent">
        <div style="min-height: 300px; width:100%;" class="shadow bg-contrast p-4 rounded" *ngIf="!isSent">
          <p class="font-md m-0">Cookie policy!</p>
          <p class="response"> Ova veb stranica koristi napredne alate koji zahtevaju vašu saglasnost. </p>
        </div>
      </div>
      <div class="row align-items-end" *ngIf="!(cs|async) || isSent">
        <div style="min-height: 300px; width:100%;" class="shadow bg-contrast p-4 rounded" *ngIf="isSent">
          <p class="font-md m-0">Vaši podaci su evidentirani!</p>
          <p class="response"> Hvala na ukazanom poverenju. </p>
        </div>
      </div>
      <div class="row align-items-end jobfrom--box" [style.display]="!isSent && (cs|async) ? 'flex' : 'none'">

        <div class="col-lg-8">
          <div class="shadow mt-4 mt-md-0 p-5" data-aos="fade-right">
            <swiper [index]="currentSlide" (indexChange)="onIndexChange($event)" [config]="SWIPER_CONFIG">
              <div class="swiper-slide" *ngFor="let i of [1, 2, 3, 4]" style="max-height: 635px;">



                <div *ngIf="i===1">
                  <div class="row m-0">
                    <div class="form-group col-md-7">
                      <label for="job_ime_prezime" class="bold">Ime i prezime:</label>
                      <input type="text" name="subject" id="job_ime_prezime" class="form-control bg-contrast"
                        placeholder="Unesite svoje ime i prezime" required formControlName="imePrezime"
                        [class.is-valid]="jobForm.get('imePrezime').valid" [class.is-invalid]="
                        !jobForm.get('imePrezime').pristine &&
                        jobForm.get('imePrezime').invalid" autocomplete="off" />
                      <div class="invalid-feedback">Molimo vas unesite ime i prezime.</div>
                    </div>

                    <div class="form-group col-md-5">
                      <label for="job_ime_prezime" class="bold">Datum rođenja:</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="dd-MM-yyyy" name="dp" formControlName="datumRodjenja"
                          ngbDatepicker #dp="ngbDatepicker" [class.is-valid]="jobForm.get('datumRodjenja').valid"
                          [class.is-valid]="jobForm.get('datumRodjenja').valid" [class.is-invalid]="
                        !jobForm.get('datumRodjenja').pristine &&
                        jobForm.get('datumRodjenja').invalid">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()"
                            type="button"></button>
                        </div>
                        <div class="invalid-feedback">Molimo vas unesite datum rođenja.</div>
                      </div>
                    </div>

                    <!-- <div class="form-group col-md-4">
                      <label for="job_ime_prezime" class="bold">Datum rodjenja:</label>
                      <input type="text" name="subject" id="job_ime_prezime" class="form-control bg-contrast"
                        placeholder="Unesite svoje ime i prezime" required formControlName="datumRodjenja"
                        [class.is-valid]="jobForm.get('datumRodjenja').valid" [class.is-invalid]="
                        !jobForm.get('datumRodjenja').pristine &&
                        jobForm.get('datumRodjenja').invalid" autocomplete="off" 
                        ngbDatepicker #d="ngbDatepicker"
                        />
                      <div class="invalid-feedback">Molimo vas unesite ime i prezime.</div>
                    </div> -->

                  </div>

                  <div class="row m-0">
                    <div class="form-group col-md-7">
                      <label for="job_ulica" class="bold mb-0"> Ulica:</label>
                      <input type="text" name="job_ulica" id="job_ulica" class="form-control bg-contrast"
                        placeholder="Unesite naziv ulice" required formControlName="ulica" autocomplete="off"
                        [class.is-valid]="jobForm.get('ulica').valid" [class.is-invalid]="
                        !jobForm.get('ulica').pristine &&
                        jobForm.get('ulica').invalid
                      " />
                      <div class="invalid-feedback">Molimo vas unesite naziv ulice.</div>
                    </div>

                    <div class="form-group col-md-5">
                      <label for="job_postal_code" class="bold mb-0"> Poštanski broj:</label>
                      <input type="text" name="job_postal_code" id="job_postal_code" class="form-control bg-contrast"
                        placeholder="Poštanski broj" required formControlName="postalCode" autocomplete="off"
                        [class.is-valid]="
                        !jobForm.get('postalCode').pristine &&
                        jobForm.get('postalCode').valid
                        " [class.is-invalid]="
                        !jobForm.get('postalCode').pristine &&
                        jobForm.get('postalCode').invalid
                      " />
                      <div class="invalid-feedback">Molimo vas unesite poštanski broj.</div>
                    </div>

                    <div class="form-group col-md-7">
                      <label for="job_grad" class="bold mb-0">Grad:</label>
                      <input type="text" name="gard" id="job_grad" class="form-control bg-contrast" placeholder="Naziv "
                        required formControlName="grad" autocomplete="off" [class.is-valid]="jobForm.get('grad').valid"
                        [class.is-invalid]="
                        !jobForm.get('grad').pristine &&
                        jobForm.get('grad').invalid
                      " />
                      <div class="invalid-feedback">Molimo vas unesite ime grada - mesta stanovanja.</div>
                    </div>

                    <div class="form-group col-md-5">
                      <label for="job_drzava" class="bold mb-0">Država:</label>
                      <select class="form-control" id="job_drzava" name="job_drzava" disabled>
                        <option>Srbija</option>
                      </select>
                      <div class="invalid-feedback">Molimo vas unesite ime države.</div>
                    </div>
                  </div>


                  <div class="row m-0">
                    <div class="form-group col-md-7">
                      <label for="job_email" class="bold mb-0"> Imejl adresa</label>
                      <input type="email" name="email" id="job_email" class="form-control bg-contrast"
                        placeholder="npr.: nikola.niloc@yahoo.com" required formControlName="email" autocomplete="off"
                        [class.is-valid]="jobForm.get('email').valid" [class.is-invalid]="
                        !jobForm.get('email').pristine &&
                        jobForm.get('email').invalid
                      " />
                      <div class="invalid-feedback">Molimo vas unesite korektnu imejl adresu.</div>
                    </div>

                    <div class="form-group col-md-5">
                      <label for="job_phone" class="bold mb-0"> Broj telefona</label>
                      <input type="text" name="phone" id="job_phone" class="form-control bg-contrast"
                        placeholder="Kontakt telefon" required formControlName="phoneNumber" autocomplete="off"
                        [class.is-valid]="jobForm.get('phoneNumber').valid" [class.is-invalid]="
                        !jobForm.get('phoneNumber').pristine &&
                        jobForm.get('phoneNumber').invalid
                      " />
                      <div class="invalid-feedback">{{ 'CONTACT.contact-form10' | translate }}</div>
                    </div>

                  </div>
                  <div class="form-group">
                    <label for="job_position" class="bold mb-0"> Za rad u službi:</label>
                    <select class="form-control" id="job_position" name="job_position"
                      formControlName="position" 
                      [class.is-valid]="
                      !jobForm.get('position').pristine &&
                      jobForm.get('position').value !=='Izaberite'"
                      [class.is-invalid]="
                      !jobForm.get('position').pristine &&
                      jobForm.get('position').value ==='Izaberite'
                              ">
                              <option *ngFor="let s of sluzbe">{{ s }}</option>
                    </select>
                  </div>

                </div>

                <div *ngIf="i===2" style="overflow: hidden;">

                  <span (click)="addToFormArray(this.pretPosaoInfo, jobForm.controls['radnoIskustvo'])"
                    class="addJobBttn" placement="right" ngbTooltip="Dodaj nova polja"
                    *ngIf="returnFormArray(jobForm.controls['radnoIskustvo']).length<3">+</span>

                  <span *ngIf="returnFormArray(jobForm.controls['radnoIskustvo']).length===0" style="float:right">
                    Bez radnog iskustva.
                  </span>

                  <div formArrayName="radnoIskustvo"
                    *ngFor="let materijal of returnFormArray(jobForm.controls['radnoIskustvo']).controls; let i = index;">
                    <div [formGroupName]="i" class="row m-0 jobListBox">
                      <div class="col-md-1">
                        <span (click)="removeFromArr(jobForm.controls['radnoIskustvo'], i)" class="removeJobBttn"
                          placement="top" ngbTooltip="Ukloni">-</span>
                      </div>
                      <div class="col-md-11">

                        <div class="row">

                          <div class="form-group col-md-8">
                            <label for="job_opis_posla" class="bold mb-0"> Opis pozicije:</label>
                            <input type="email" name="job_opis_posla" id="job_opis_posla"
                              class="form-control bg-contrast" placeholder="Pozicija koju ste obavljali"
                              formControlName="opisPosla" autocomplete="off" [class.is-valid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('opisPosla').pristine &&
                              getFormArrayGroup('radnoIskustvo', i).get('opisPosla').valid" [class.is-invalid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('opisPosla').pristine 
                              && getFormArrayGroup('radnoIskustvo', i).get('opisPosla').invalid
                              " (keyup)="markAsUndirty(getFormArrayGroup('radnoIskustvo', i).get('opisPosla'))" />
                            <div class="invalid-feedback">Minimum 3 karaktera, samo slova i brojevi.</div>
                          </div>

                          <div class="form-group col-md-4">
                            <label for="job_kompanija" class="bold mb-0"> Ime kompanije:</label>
                            <input type="text" name="job_kompanija" id="job_kompanija" class="form-control bg-contrast"
                              placeholder="Ime kompanije" formControlName="nazivFirme" autocomplete="off"
                              [class.is-valid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('nazivFirme').pristine &&
                              getFormArrayGroup('radnoIskustvo', i).get('nazivFirme').valid" [class.is-invalid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('nazivFirme').pristine 
                              && getFormArrayGroup('radnoIskustvo', i).get('nazivFirme').invalid"
                              (keyup)="markAsUndirty(getFormArrayGroup('radnoIskustvo', i).get('opisPosla'))" />
                            <div class="invalid-feedback">Minimum 3 karaktera, samo slova i brojevi.</div>
                          </div>



                          <div class="form-group col-md-8">
                            <label for="job_status" class="bold mb-0"> Vrsta angažovanja:</label>
                            <select class="form-control" id="job_status" name="job_status"
                              formControlName="tipZaposlenja" [class.is-valid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('tipZaposlenja').pristine &&
                              getFormArrayGroup('radnoIskustvo', i).get('tipZaposlenja').value !=='Izaberite'"
                              [class.is-invalid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('tipZaposlenja').pristine 
                              && getFormArrayGroup('radnoIskustvo', i).get('tipZaposlenja').value ==='Izaberite'
                              " (change)="markAsUndirty(getFormArrayGroup('radnoIskustvo', i).get('tipZaposlenja'))">
                              <option *ngFor="let c of vrsteAngazovanja ">{{ c }}</option>
                            </select>
                            <div class="invalid-feedback">Molimo vas da izaberete neku od opcija.</div>
                          </div>


                          <div class="form-group col-md-2">
                            <label for="job-od" class="bold mb-0"> Radio od:</label>
                            <input type="text" name="job-od" id="job-od" class="form-control bg-contrast"
                              placeholder="do:" formControlName="datumOd" autocomplete="off" [class.is-valid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('datumOd').pristine &&
                              getFormArrayGroup('radnoIskustvo', i).get('datumOd').valid" [class.is-invalid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('datumOd').pristine 
                              && getFormArrayGroup('radnoIskustvo', i).get('datumOd').invalid
                              " (keyup)="markAsUndirty(getFormArrayGroup('radnoIskustvo', i).get('datumOd'))" />
                            <div class="invalid-feedback">U formatu npr. 2001.</div>
                          </div>


                          <div class="form-group col-md-2">
                            <label for="job-do" class="bold mb-0"> Radio do:</label>
                            <input type="text" name="job-do" id="job-do" class="form-control bg-contrast"
                              placeholder="do:" formControlName="datumDo" autocomplete="off" [class.is-valid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('datumDo').pristine &&
                              getFormArrayGroup('radnoIskustvo', i).get('datumDo').valid" [class.is-invalid]="
                              !getFormArrayGroup('radnoIskustvo', i).get('datumDo').pristine 
                              && getFormArrayGroup('radnoIskustvo', i).get('datumDo').invalid
                              " (keyup)="markAsUndirty(getFormArrayGroup('radnoIskustvo', i).get('datumDo'))" />
                            <div class="invalid-feedback">U formatu npr. 2001. ili u toku - ****</div>
                          </div>

                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <div *ngIf="i===3" style="overflow: hidden;">

                  <span (click)="addToFormArray(this.obrazInfo, jobForm.controls['obrazovanje'])" class="addJobBttn"
                    placement="right" ngbTooltip="Dodaj nova polja"
                    *ngIf="returnFormArray(jobForm.controls['obrazovanje']).length<4">+</span>

                  <div formArrayName="obrazovanje"
                    *ngFor="let materijal of returnFormArray(jobForm.controls['obrazovanje']).controls; let i = index;">

                    <div [formGroupName]="i" class="row m-0 jobListBox">
                      <div class="col-md-1">
                        <span (click)="removeFromArr(jobForm.controls['obrazovanje'], i)" class="removeJobBttn"
                          placement="top" ngbTooltip="Ukloni">-</span>
                      </div>
                      <div class="col-md-11">

                        <div class="row">

                          <div class="form-group col-md-6">
                            <label for="job-diploma" class="bold mb-0"> Diploma:</label>
                            <input type="text" name="job-diploma" id="job-diploma" class="form-control bg-contrast"
                              placeholder="Opis kvalifikacije:" formControlName="diploma" autocomplete="off"
                              [class.is-valid]="
                              !getFormArrayGroup('obrazovanje', i).get('diploma').pristine &&
                              getFormArrayGroup('obrazovanje', i).get('diploma').valid" [class.is-invalid]="
                              !getFormArrayGroup('obrazovanje', i).get('diploma').pristine 
                              && getFormArrayGroup('obrazovanje', i).get('diploma').invalid
                              " (keyup)="markAsUndirty(getFormArrayGroup('obrazovanje', i).get('diploma'))" />
                            <div class="invalid-feedback">Minimum 3 karaktera, samo slova i brojevi.</div>
                          </div>

                          <div class="form-group col-md-4">
                            <label for="job-ustanova" class="bold mb-0"> Obrazovna ustanova:</label>
                            <input type="email" name="job-ustanova" id="job-ustanova" class="form-control bg-contrast"
                              placeholder="Naziv škole - fakulteta" formControlName="obrazovnaUstanova"
                              autocomplete="off" [class.is-valid]="
                              !getFormArrayGroup('obrazovanje', i).get('obrazovnaUstanova').pristine &&
                              getFormArrayGroup('obrazovanje', i).get('obrazovnaUstanova').valid" [class.is-invalid]="
                              !getFormArrayGroup('obrazovanje', i).get('obrazovnaUstanova').pristine 
                              && getFormArrayGroup('obrazovanje', i).get('obrazovnaUstanova').invalid
                              "
                              (keyup)="markAsUndirty(getFormArrayGroup('obrazovanje', i).get('obrazovnaUstanova'))" />

                            <div class="invalid-feedback">Minimum 3 karaktera, samo slova i brojevi.</div>
                          </div>

                          <div class="form-group col-md-2">
                            <label for="job-status" class="bold mb-0"> Status:</label>
                            <select class="form-control" id="job-status" name="job-status" formControlName="status"
                              [class.is-valid]="
                            !getFormArrayGroup('obrazovanje', i).get('status').pristine &&
                            getFormArrayGroup('obrazovanje', i).get('status').value !=='Izaberite'" [class.is-invalid]="
                            !getFormArrayGroup('obrazovanje', i).get('status').pristine 
                            && getFormArrayGroup('obrazovanje', i).get('status').value ==='Izaberite'
                            " (change)="markAsUndirty(getFormArrayGroup('obrazovanje', i).get('status'))">
           
                            <option *ngFor="let st of status ">{{ st }}</option>
                            </select>
                            <div class="invalid-feedback">Molimo vas da izaberete neku od opcija.</div>
                          </div>

                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <div *ngIf="i===4" style="overflow: hidden;">
                  <h3 class="cvUploadH3"> Molimo vas da nam prosledite Vaš CV.</h3>
                  <app-dpd (onDrop)="onDrop($event)" [fileIndex]="fileOnUpload.index"
                    [fileProgres]="fileOnUpload.progress"></app-dpd>
                </div>


              </div>
            </swiper>
          </div>
        </div>

        <div class="col-lg-4">
          <h2 class="bold">Papir Print karijera<br /><span class="light">Posao koji se voli.</span></h2>
          <p class="lead text-secondary">

          </p>
          <!-- 
        <a href="pricing.html" class="btn btn-primary btn-rounded mt-4"
          >Choose the right plan
          <fa-icon [icon]="longArrowAltRight" [class]="'ml-3'"></fa-icon>
        </a> -->

          <ol id="sw-nav-tools" class="nav nav-process nav-circle nav-justified mt-5">
            <li class="nav-item" [class.active]="i === currentSlide" *ngFor="let element of elements; let i = index">
              <a class="nav-link" href="javascript:void(0)" [attr.data-step]="i + 1" (click)="updateSlider(i)">
                <small class="mt-4 absolute">{{ element }}</small>
              </a>
            </li>
          </ol>

          <div class="form-group">
            <small id="recaptchaHelp" class="form-text text-secondary mt-0 mb-2 italic">
              {{ 'CONTACT.contact-form17' | translate }}
            </small>
            <!-- 
            the SITE_KEY is the sitekey from your admin console.
            use form control for validation
          -->
            <re-captcha (resolved)="resolved($event)" formControlName="recaptchaReactive"
              siteKey="6Lesx9kZAAAAAONfv6FfnQVywuk5z7-Ho_etzQEF">
            </re-captcha>
          </div>

          <div class="form-group">
            <button id="contact-submit" name="submit" type="submit" class="btn btn-primary btn-rounded">
              Pošalji podatke
            </button>
          </div>
          <p class="text-danger" *ngIf="jobForm.invalid">Forma nije kompletna. Proverite unete podatke.</p>
          <fa-icon [icon]="spinner" class="fa-3x" [spin]="true" *ngIf="isLoading"></fa-icon>
        </div>

      </div>
    </div>
  </form>
</section>