.cvUploadH3{
    text-align: CENTER;
    padding-bottom: 1REM;
}
.addJobBttn{
    padding: 0 1rem;
    background-color:#053b79;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    &:hover {
        cursor: pointer;
        -moz-box-shadow:    inset 0 0 10px #111;
        -webkit-box-shadow: inset 0 0 10px  #111;
        box-shadow:         inset 0 0 10px  #111;
    }
}
.removeJobBttn{
    border-radius: 5px;
    padding: 0 0.5rem;
    display: inline-block;
    color: #cf1116;
    border: 1px dashed;
    font-size: 20px;
    border-color: #cf1116;
    &:hover {
        cursor: pointer;
        border: 1px solid;
    }
}
.jobListBox{
    .form-group{
        padding: 0px;
        margin: 0px;
        padding-right: 5px;
    }
    // border: 1px solid gray;
    border-radius: 10px;
    padding: 15px !important;
    background: white;
    margin-top: 10px !important;
}

.red {
    color:green
}