<form>
  <div class="input-group">
    <input
      [formControl]="searchControl"
      type="text"
      class="form-control"
      placeholder="{{ 'SEARCH.search01' | translate }}"
    />
    <button
      type="submit"
      class="btn  more-link"
      [ngClass]="!isLoading && filteredList ? 'btn-danger' : 'btn-primary'"
      (click)="resetSrch()"
      [disabled]="!isLoading && !filteredList"
    >
      <fa-icon [icon]="search" *ngIf="!isLoading && !filteredList"></fa-icon>
      <fa-icon
        [icon]="x"
        *ngIf="!isLoading && filteredList"
        (click)="resetSrch()"
      ></fa-icon>
      <fa-icon
        [icon]="spinner"
        class="fa-3x"
        [spin]="true"
        *ngIf="isLoading"
      ></fa-icon>
      <!-- {{ 'POCETNA.pocetna-landing2-heading-6' | translate }} -->
    </button>
  </div>
  <ul class="list-group" class="searchList" *ngIf="filteredList">
    <li class="list-group-item" *ngFor="let res of filteredList">
      <a href="javascript:;" [routerLink]="[res.path]"
        >{{ res.page }}
        <p class="small text-secondary">
          {{ res.context }} <br /><span
            *ngIf="res.fragment"
            class="text-primary"
          >
            * {{ res.fragment }}... *</span
          >
        </p>
      </a>
    </li>
  </ul>
</form>
