<section class="section" *ngIf="elements">
  <div class="container-flex bring-to-front">
    <!-- <div class="section-heading text-center text-contrast">
      <h2 class="text-contrast">Delivering tools for success</h2>
      <p class="text-contrast">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur
        dicta nulla officia quaerat ratione reiciendis soluta. Accusamus
        delectus dolore doloribus ducimus eveniet magnam, molestias nostrum
        quas, quos, reiciendis ut!
      </p>
    </div> -->

    <div class="p-4 bg-contrast rounded">
      <div class="row">
        <div class="col-md-3 mr-md-auto">
          <nav
            id="sw-nav-shadow"
            class="nav flex-md-column nav-pills nav-fill nav-pills-light"
          >
            <a
              href="javascript:;"
              *ngFor="let element of elements; let i = index"
              class="nav-item text-left nav-link py-3 my-2"
              [class.active]="i === currentSlideHorizontal"
              (click)="updateSliderHorizontal(i)"
              [attr.data-step]="i + 1"
            >
              <h6 class="bold">{{ element.title }}</h6>
              <!-- <p class="my-0 d-none d-md-block">{{ element.description }}</p> -->
            </a>
          </nav>
        </div>

        <div class="col-md-9">
          <div>
            <div class="swiperup">
              <swiper
                class="mt-4 mt-md-0"
                [index]="currentSlideHorizontal"
                (indexChange)="onIndexChangeHorizontal($event)"
                [config]="SWIPER_CONFIG"
              >
                <div
                  class="swiper-slide"
                  *ngFor="let element of elements"
                  style="min-width:100%!important"
                >
                  <dc-slider-start-right-way
                    [content]="element.data"
                  ></dc-slider-start-right-way>
                </div>
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
