<form class="form form-contact" name="form-contact" data-response-message-animation="slide-in-up"
  [formGroup]="contactForm" (ngSubmit)="onContactFromSubmit(contactFormGroup)" method="POST" #contactFormGroup
  [style.opacity]="isSent || isFormDisabled() ? 0 : 100">
  <div class="form-group">
    <label for="contact_email" class="bold mb-0"> {{ 'CONTACT.contact-form08' | translate }}</label>
    <input type="email" name="email" id="contact_email" class="form-control bg-contrast"
      placeholder="{{ 'CONTACT.contact-form09' | translate }}" required formControlName="contactEmail"
      autocomplete="off" [class.is-valid]="contactForm.get('contactEmail').valid" [class.is-invalid]="
        !contactForm.get('contactEmail').pristine &&
        contactForm.get('contactEmail').invalid
      " />
    <div class="invalid-feedback">{{ 'CONTACT.contact-form10' | translate }}</div>
  </div>

  <div class="form-group">
    <label for="contact_subject" class="bold">{{ 'CONTACT.contact-form11' | translate }}</label>
    <input type="text" name="subject" id="contact_subject" class="form-control bg-contrast"
      placeholder="{{ 'CONTACT.contact-form12' | translate }}" required formControlName="contactSubject"
      [class.is-valid]="contactForm.get('contactSubject').valid" [class.is-invalid]="
        !contactForm.get('contactSubject').pristine &&
        contactForm.get('contactSubject').invalid
      " />
    <div class="invalid-feedback">{{ 'CONTACT.contact-form13' | translate }}</div>
  </div>

  <div class="form-group">
    <label for="contact_message" class="bold">{{ 'CONTACT.contact-form14' | translate }}</label>
    <textarea name="message" id="contact_message" class="form-control bg-contrast"
      placeholder="{{ 'CONTACT.contact-form15' | translate }}" rows="8" formControlName="contactText" required
      [class.is-valid]="contactForm.get('contactText').valid" [class.is-invalid]="
        !contactForm.get('contactText').pristine &&
        contactForm.get('contactText').invalid
      "></textarea>
    <div class="invalid-feedback">{{ 'CONTACT.contact-form16' | translate }}</div>
  </div>
  <div class="form-group">
    <small id="recaptchaHelp" class="form-text text-secondary mt-0 mb-2 italic">
      {{ 'CONTACT.contact-form17' | translate }}
    </small>
    <!-- 
      the SITE_KEY is the sitekey from your admin console.
      use form control for validation
    -->
    <re-captcha (resolved)="resolved($event)" formControlName="recaptchaReactive"
      siteKey="6Lesx9kZAAAAAONfv6FfnQVywuk5z7-Ho_etzQEF" *ngIf="(cs | async)">
    </re-captcha>
  </div>

  <div class="form-group">
    <button id="contact-submit" name="submit" type="submit" class="btn btn-primary btn-rounded"
      [disabled]="contactForm.invalid">
      <span *ngIf="this.contactForm.invalid">{{'CONTACT.contact-form18' | translate}}</span>
      <span *ngIf="!this.contactForm.invalid">{{'CONTACT.contact-form19' | translate}}</span>
    </button>

    <small id="recaptchaHelp" class="form-text text-secondary mt-0 mb-2 italic">
      {{'CONTACT.contact-form20' | translate}}
    </small>
  </div>
</form>


<div class="response-message" [style.opacity]="isSent ? 100 : 0" [style.z-index]="isSent ? 10 : -10" *ngIf="isSent">
  <div class="section-heading" style="max-width: 90%;">
    <i class="fas fa-check font-lg"></i>
    <p class="font-md m-0"> {{'CONTACT.contact-form21' | translate}}</p>
    <p class="response">
      {{'CONTACT.contact-form22' | translate}}
    </p>
  </div>
</div>

<div class="response-message" [style.opacity]="isFormDisabled() ? 100 : 0" [style.z-index]="isFormDisabled() ? 10 : -10"
  *ngIf="isFormDisabled()">
  <div class="section-heading" style="max-width: 90%;">
    <i class="fas fa-check font-lg"></i>
    <p class="font-md m-0">Cookie policy!</p>
    <p class="response">
      {{'CONTACT.contact-form23' | translate}}
    </p>
  </div>
</div>

<fa-icon [icon]="spinner" class="fa-3x" [spin]="true" *ngIf='isLoading'></fa-icon>