<section
  class="section {{ background ? 'bg-' + background : '' }} {{
    edge ? 'edge ' + edge : ''
  }}"
  [ngClass]="classes"
>
  <div class="container bring-to-front">
    <div class="row">
      <div class="col-md-4">
        <h2><span class="bold">{{intro[0]}}</span></h2>

        <p class="lead">
          {{intro[1]}}
        </p>

        <p class="text-muted"></p>
      </div>

      <div class="col-md-8">
        <div class="accordion accordion-clean">
          <dc-faqs-accordion></dc-faqs-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
