.sign-animation-box{
    display: flex;
    position: fixed;
    top:0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.fadeOutMain {
    position: 'absolute';
    left: 0;
    width : '100%';
    opacity: 0;
}
 
.fadeInMain {
      opacity: 1; 
      transition: ease-out 1000ms;
}
