<main
[class.fadeOutMain] = "(pageIsLoading | async) === true"
[class.fadeInMain] = "(pageIsLoading | async) === false"
>
<router-outlet> </router-outlet>
</main>
<div class="sign-animation-box" *ngIf="(pageIsLoading | async)">
    <fa-icon [icon]="spinner" class="fa-3x" [spin]="true" ></fa-icon>
</div>