<div class="btn-group mr-3 langdd">
  <button type="button" class="btn btn-primary">{{ langDescription }}</button>
  <div
    class="btn-group"
    ngbDropdown
    role="group"
    aria-label="Button group with nested dropdown"
  >
    <button
      class="btn btn-primary dropdown-toggle-split"
      ngbDropdownToggle
    ></button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button
        *ngFor="let lang of this.languages(); let i = index"
        ngbDropdownItem
        (click)="optionClicked(lang)"
      >
        {{ lang?.description }}
      </button>
    </div>
  </div>
</div>
