<dc-page-header-wave
  [title]="(header | async).title"
  [subtitle]="(header | async).text"
>
</dc-page-header-wave>
<dc-slider-tools4-success></dc-slider-tools4-success>
<!-- <dc-slider-start-right-way></dc-slider-start-right-way> -->
<dc-corporate-do-business></dc-corporate-do-business>
<dc-slider-icons></dc-slider-icons>
