<section class="section">
  <div class="container">
    <div class="section-heading text-center">
      <p _ngcontent-amt-c141="" class="text-primary bold">
        {{ 'POCETNA.slider-all-in-one-1' | translate }}
      </p>
      <h2 class="bold">
        {{ 'POCETNA.slider-all-in-one-2' | translate }}
      </h2>
    </div>

    <nav
      class="slide nav nav-tabs nav-outlined nav-rounded justify-content-around justify-content-md-center mb-5"
      *ngIf="categories | async as cat"
    >
      <a
        class="nav-item nav-link"
        [class.active]="i === currentSlide"
        href="javascript:;"
        (click)="updateSlider(i)"
        *ngFor="let item of categories | async; let i = index"
      >
        {{ item[1].categoryNameShort | uppercase }}
      </a>
    </nav>

    <swiper
      [index]="currentSlide"
      (indexChange)="onIndexChange($event)"
      *ngIf="categories | async as cat"
    >
      <div class="swiper-slide" *ngFor="let item of categories | async">
        <div class="container-fluid pt-0 pb-4">
          <div class="row gap-y align-items-center">
            <div class="col-md-6 mr-md-auto">
              <div class="shadow">
                <picture>
                  <source srcset="{{ item[1].categoryImgs[0].path }}.webp" type="image/webp">
                  <source srcset="{{ item[1].categoryImgs[0].path }}.jpg" type="image/jpeg">
                    <img
                    src="{{ item[1].categoryImgs[0].path }}.jpg"
                    class="img-responsive"
                    alt="{{ item[1].categoryImgs[0].alt }}"
                    title="{{ item[1].categoryName }}"
                  />
                </picture>
              
              </div>
            </div>

            <div class="col-md-5">
              <dc-badge [bg]="'contrast'" [text]="'primary'">
                {{ 'POCETNA.slider-all-in-one-3' | translate }}
              </dc-badge>
              <h2 class="display-4 light">
                {{ item[1].categoryNameShort }}
              </h2>
              <p class="lead">
                {{ item[1].categoryTexts[0] }}
              </p>
              <p class="lead">
                {{ item[1].categoryTexts[1] }}
              </p>
              <p class="small text-secondary">
                {{ 'POCETNA.slider-all-in-one-4' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </swiper>
  </div>
</section>
