<footer class="site-footer section">
  <div class="container pb-3" *ngIf="path | async as lng">
    <dc-footer1sr *ngIf="lng === 'sr'"></dc-footer1sr>
    <dc-footer1en *ngIf="lng === 'en'"></dc-footer1en>
    <hr class="mt-5" />
    <div class="row small align-items-center">
      <div class="col-md-4">
        <p class="mt-2 mb-md-0 text-secondary text-center text-md-left">
          © 2020 PAPIR PRINT.
        </p>
      </div>

      <div class="col-md-8">
        <!-- <nav class="nav justify-content-center justify-content-md-end">
          <a href="#" class="btn btn-circle btn-sm btn-secondary mr-3 op-4">
            <fa-icon [icon]="fa.faFacebook"></fa-icon>
          </a>
          <a href="#" class="btn btn-circle btn-sm btn-secondary mr-3 op-4">
            <fa-icon [icon]="fa.faTwitter"></fa-icon>
          </a>
          <a href="#" class="btn btn-circle btn-sm btn-secondary op-4">
            <fa-icon [icon]="fa.faInstagram"></fa-icon>
          </a>
        </nav> -->
      </div>
    </div>
  </div>
</footer>
