<dc-page-header-wave
  [title]="this.category().categoryName"
  [subtitle]="this.category().categoryTexts[0]"
  *ngIf="this.category()"
>
</dc-page-header-wave>
<dc-online-payment-steps [products]="this.products()"></dc-online-payment-steps>
<dc-corporate-do-business></dc-corporate-do-business>
<dc-slider-icons></dc-slider-icons>
