<!-- Features -->
<section class="section mt-5n gradient gradient-primary-dark" id="features" *ngIf="features | async">
  <div class="container p-5">
    <div _ngcontent-bdk-c124="" class="section-heading text-center">
      <h2 _ngcontent-bdk-c124="" class="text-contrast">
        {{ 'POCETNA.pocetna-landing2-features-1' | translate }}
      </h2>
    </div>

    <div class="bg-contrast shadow rounded p-3">
      <div class="row gap-y">
        <div class="col-md-4 text-center" *ngFor="let feature of features | async">
          <div class="rounded icon-xl shadow d-flex align-items-center justify-content-center mx-auto">
            
            <picture>
              <source srcset="assets/img/logos/papirprint/kvalitet-logo.webp" type="image/webp">
              <source srcset="assets/img/logos/papirprint/kvalitet-logo.png" type="image/jpeg">
              <img alt="" class="img-responsive" src="assets/img/logos/papirprint/kvalitet-logo.png" />
            </picture>

            <!-- <dc-feather [name]="feature.icon" [iconClass]="'stroke-contrast'"></dc-feather> -->
          </div>
          <h4 class="semi-bold mt-4 text-capitalize">{{ feature.title }}</h4>

          <hr class="w-25 bw-2 border-alternate mt-3 mb-4" style="margin:0 auto;" />
          <p class="regular">{{ feature.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>