<div class="row gap-y text-center text-md-left">
  <div class="col-md-4 mr-auto">

    
    <picture>
      <source srcset="assets/img/pplogo.webp" type="image/webp">
      <source srcset="assets/img/pplogo.jpg" type="image/jpeg">
        <img src="assets/img/pplogo.jpg" alt="" class="logo" />
    </picture>


    <p>
      {{ 'FOOTER1.footer101' | translate }}
    </p>
  </div>

  <div class="col-md-3">
    <h6 class="py-2 bold">Company</h6>
    <nav class="nav flex-column">
      <a class="nav-item py-2" [routerLink]="['/en/home']">Home</a>
      <a class="nav-item py-2" [routerLink]="['/en/about-the-company']"
        >About us</a
      >
      <a class="nav-item py-2" [routerLink]="['/en/technical-characteristics']"
        >Technical characteristics</a
      >
      <!-- <a class="nav-item py-2" [routerLink]="['/about']">Posao</a> -->
    </nav>
  </div>

  <div class="col-md-3">
    <h6 class="py-2 bold">Services</h6>
    <nav class="nav flex-column">
      <a
        class="nav-item py-2"
        [routerLink]="['/en/production-program/packaging-food-industry']"
        >{{ 'NAVBARMAIN.navbars01' | translate }} food industry</a
      >
      <a
        class="nav-item py-2"
        [routerLink]="['/en/production-program/packaging-beverage']"
        >{{ 'NAVBARMAIN.navbars01' | translate }} beverage industry</a
      >
      <a
        class="nav-item py-2"
        [routerLink]="[
          '/en/production-program/packaging-pharmaceutical-cosmetic'
        ]"
        >{{ 'NAVBARMAIN.navbars01' | translate }} Pharmacy and cosmetics</a
      >
    </nav>
  </div>

  <div class="col-md-2">
    <h6 class="py-2 bold">Info</h6>

    <nav class="nav flex-column">
      <a class="nav-item py-2" [routerLink]="['/sr/politika_privatnosti']"
        >Privacy policy</a
      >
      <a class="nav-item py-2" [routerLink]="['/en/contact']">Contact</a>
    </nav>
  </div>
</div>
