<section class="section b-b">
  <div class="container">
    <div class="row gap-y align-items-center text-center text-lg-left">
      <div class="col-12 col-md-6 py-4 px-5 b-md-r">
        <dc-feather
          [name]="'dollar-sign'"
          [iconClass]="'stroke-darker'"
        ></dc-feather>
        <a
          href="javascript:;"
          class="mt-4 text-darker d-flex align-items-center"
        >
          <h4 class="mr-3">{{ 'CONTACT.contact-form04' | translate }}</h4>
          <fa-icon [icon]="longArrowAltRight"></fa-icon>
        </a>
        <p class="mt-4">
          {{ 'CONTACT.contact-form05' | translate }}
          <br />
          <a href="mailto:sales@papirprint.co">sales@papirprint.co</a>
        </p>
      </div>

      <div class="col-12 col-md-6 py-4 px-5">
        <dc-feather
          [name]="'life-buoy'"
          [iconClass]="'stroke-darker'"
        ></dc-feather>
        <a
          href="javascript:;"
          class="mt-4 text-darker d-flex align-items-center"
        >
          <h4 class="mr-3">{{ 'CONTACT.contact-form06' | translate }}</h4>
          <fa-icon [icon]="longArrowAltRight"></fa-icon>
        </a>
        <p class="mt-4">
          {{ 'CONTACT.contact-form07' | translate }}
          <br />
          <a href="mailto:info@papirprint.co">info@papirprint.co</a>
        </p>
      </div>
    </div>
  </div>
</section>
