<dc-page-header-wave [title]="(contact | async).header?.title" [subtitle]="(contact | async).header?.text"
  [containerClass]="'pb-9'">
</dc-page-header-wave>
<dc-contact-form></dc-contact-form>
<!-- <dc-contact-other-channels></dc-contact-other-channels> -->

<div class="row">
  <div class="col-12">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true" [gestureHandling]="gestureHandling" style='height: 400px;'
        (zoomChange)="onZoomChange($event)">

        <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"
        [label]="marker.label" [markerDraggable]="marker.draggable" 
        *ngIf="showMarker()">

        <agm-info-window [disableAutoPan]="true" [isOpen]="true">
          <strong>Papir Print</strong><br>
            Miodraga Radovanovića Korčagina 65<br>
            32300 Gornji Milanovac<br>
            Srbija
        </agm-info-window>

      </agm-marker>

    </agm-map>
  </div>
</div>



<dc-corporate-do-business></dc-corporate-do-business>
<dc-slider-icons></dc-slider-icons>