<div *ngIf="(legal | async) as l">
  <dc-page-header-wave [title]="l.headerText[0]" [subtitle]="l.headerText[1]">
  </dc-page-header-wave>
  <dc-faqs1 [text]="l.shortTexts" [intro]="l.cookieText"></dc-faqs1>
  <section class="container pb-5">
    <div class="section-heading">
      <h2 class="Bold">{{l.longTexts[0].title}}</h2>
      <p class="lead text-secondary">
        {{l.longTexts[0].text[0]}}
      </p>
      <h3>{{l.longTexts[1].title}}</h3>
      <p>
        {{l.longTexts[1].text[0]}}
      </p>
      <p>
        {{l.longTexts[1].text[1]}}
        <br /><br />

        <strong>{{l.longTexts[2].title}}</strong>
        {{l.longTexts[2].text[0]}}
        <br /><br />

        <strong>{{l.longTexts[3].title}}</strong>
        {{l.longTexts[3].text[0]}}
        <br /><br />

        <strong>{{l.longTexts[4].title}}</strong>
        {{l.longTexts[4].text[0]}}
      </p>

      <h4>{{l.longTexts[5].title}}</h4>
      <p>
        {{l.longTexts[5].text[0]}}
      </p>
      <h3>{{l.longTexts[6].title}}</h3>
      <p>
        {{l.longTexts[6].text[0]}}
      </p>
      <p>
        {{l.longTexts[6].text[1]}}
      </p>

      <h4>{{l.longTexts[7].title}}</h4>
      <p>
        {{l.longTexts[7].text[0]}}
      </p>

      <h4>{{l.longTexts[8].title}}</h4>
      <p>
        {{l.longTexts[8].text[0]}}
      </p>

      <h4>{{l.longTexts[9].title}}</h4>
      <p>
        {{l.longTexts[9].text[0]}}
      </p>

      <h4>{{l.longTexts[10].title}}</h4>
      <p>
        {{l.longTexts[10].text[0]}}
      </p>
      <h4>{{l.longTexts[11].title}}</h4>
      <p>
        {{l.longTexts[11].text[0]}}
      </p>
    </div>
  </section>

  <dc-corporate-do-business></dc-corporate-do-business>
  <dc-slider-icons></dc-slider-icons>
</div>