<header class="header app-landing-2-header section mt-5">
  <div class="shapes-container">
    <!-- diagonal shapes -->
    <div class="shape shape-animated" [attr.data-aos]="shape.aos" [attr.data-aos-duration]="shape.duration"
      [attr.data-aos-delay]="shape.delay" *ngFor="let shape of shapes"></div>

    <!-- animated shapes -->
    <div class="animation-shape shape-triangle">
      <div class="animation--rotating"></div>
    </div>
    <div class="animation-shape shape-cross">
      <div class="animation--rotating"></div>
    </div>

    <!-- static shapes -->
    <div class="static-shape shape-ring shape-ring-1">
      <div class="animation animation--rotating"></div>
    </div>
    <div class="static-shape shape-ring shape-ring-2">
      <div class="animation animation--rotating-clockwise"></div>
    </div>

    <div class="static-shape pattern-dots-1"></div>
    <div class="static-shape pattern-dots-2"></div>

    <!-- main shape -->
    <div class="static-shape background-shape-main"></div>
  </div>

  <div class="container">
    <div class="row align-items-center gap-y">
      <div class="col-md-6">
        <span class="rounded-pill shadow-box bg-contrast text-dark bold py-2 px-4 d-none d-xl-block">
          <fa-icon [icon]="lightbulb" class="text-primary mr-2"></fa-icon>
          <span class="text-primary">{{
            'POCETNA.pocetna-landing2-heading-1' | translate
            }}</span>
          {{ 'POCETNA.pocetna-landing2-heading-2' | translate }}
        </span>

        <h1 class="display-4 display-md-2 mt-3">
          <span class="bold text-white-shadow">PAPIR PRINT</span>
        </h1>
        <p class="lead bold text-primary text-white-shadow">
          {{ 'POCETNA.pocetna-landing2-heading-3' | translate
          }}<span class="head-line-2">{{
            'POCETNA.pocetna-landing2-heading-4' | translate
            }}</span>
        </p>

        <p class="lead">
          {{ 'POCETNA.pocetna-landing2-heading-5' | translate }}
        </p>

        <div class="hero-form shadow-lg">
          <dc-search></dc-search>
        </div>
      </div>

      <div class="col-md-6">
        <div data-aos="fade-right" class="shadow aos-init">
          <div class="screen">

            <picture>
              <source srcset="assets/img/papirprint/{{
                this.path | async
              }}/machines/miraflex.webp" type="image/webp">
              <source srcset="assets/img/papirprint/{{
                this.path | async
              }}/machines/miraflex.jpg" type="image/jpeg">
              <img alt="" class="img-responsive" src="assets/img/papirprint/{{
                  this.path | async
                }}/machines/miraflex.jpg" />
            </picture>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>