<dc-page-header-wave
  [title]="this.product().productName"
  [subtitle]="this.product().productTexts[0]"
  *ngIf="this.product()"
>
</dc-page-header-wave>
<dc-breadcrumbs
  [category]="this.category()"
  [product]="this.product()"
></dc-breadcrumbs>
<dc-product-features
  [product]="this.product()"
  *ngIf="this.product()"
></dc-product-features>

<dc-slider-icons></dc-slider-icons>
<dc-corporate-do-business></dc-corporate-do-business>
