<div class="row gap-y text-center text-md-left">
  <div class="col-md-4 mr-auto">
    
    <picture>
      <source srcset="assets/img/pplogo.webp" type="image/webp">
      <source srcset="assets/img/pplogo.jpg" type="image/jpeg">
        <img src="assets/img/pplogo.jpg" alt="" class="logo" />
    </picture>

    <p>
      {{ 'FOOTER1.footer101' | translate }}
    </p>
  </div>

  <div class="col-md-3">
    <h6 class="py-2 bold">Kompanija</h6>
    <nav class="nav flex-column">
      <a class="nav-item py-2" [routerLink]="['/sr/pocetna']">Početna</a>
      <a class="nav-item py-2" [routerLink]="['/sr/onama']">O kompaniji</a>
      <a class="nav-item py-2" [routerLink]="['/sr/tehnickekarakteristike']"
        >Tehničke karakteristike</a
      >
      <a class="nav-item py-2" [routerLink]="['/sr/karijera']">Zaposlenje</a>
    </nav>
  </div>

  <div class="col-md-3">
    <h6 class="py-2 bold">Usluge</h6>
    <nav class="nav flex-column">
      <a
        class="nav-item py-2"
        [routerLink]="[
          '/sr/proizvodni-program/ambalaza-prehrambena-industrija'
        ]"
        >{{ 'NAVBARMAIN.navbars01' | translate }} prehrambenu industriju</a
      >
      <a
        class="nav-item py-2"
        [routerLink]="['/sr/proizvodni-program/ambalaza-voda-sokovi']"
        >{{ 'NAVBARMAIN.navbars01' | translate }} industriju vode i pića</a
      >
      <a
        class="nav-item py-2"
        [routerLink]="['/sr/proizvodni-program/ambalaza-kozmetika-farmacija']"
        >{{ 'NAVBARMAIN.navbars01' | translate }} kozmetiku i farmaceutiku</a
      >
    </nav>
  </div>

  <div class="col-md-2">
    <h6 class="py-2 bold">Info</h6>

    <nav class="nav flex-column">
      <a class="nav-item py-2" [routerLink]="['/sr/politika_privatnosti']"
        >Politika privatnosti</a
      >
      <a class="nav-item py-2" [routerLink]="['/sr/kontakt']">Kontakt</a>
    </nav>
  </div>
</div>
